<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the World of Knowledge and Creativity!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #EBF3E8;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #EBF3E8;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        img {
            border-radius: 50%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <h1>Welcome to the My Page:3</h1>
        <p><strong>About Me:</strong> My name is Krizle Elloise:3 I am 22 years old and likes to play games :3 !</p>
        <p><strong>Course:</strong> Bachelor of Science in Information Technology </p>
        <p><strong>Section:</strong>BSIT32E3 </p>
    </div>
</body>
</html>
